{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Simplified MLApp</h1>
            <p>Simplify Your Machine Learning and Data Exploration(Semi-Automated ML)</p>
            <p><a href="{{ url_for('index')}}" type="button" class="btn btn-primary" > Refresh</a></p>
        </div>

        <form method=POST enctype=multipart/form-data class="form-group" action="{{ url_for('datauploads') }}">
            <div class="form-group">
                <input type="file" name="csv_data">
                <br/>
            </div>
            <input type="submit" class="btn btn-primary mb-2">
            <input type="reset" value="Reset" class="btn btn-danger mb-2">
        </form>
    </div>

{% endblock %}
